<h1>Genres</h1>
<%= link_to 'New Genre', new_genre_path %><br><br>
<ul>
  <% @genres.each do |genre| %>
    <li>
        <%= link_to genre.title, genre %> |
        <%= link_to 'Edit', edit_genre_path(genre) %>
    </li>
  <% end %>
</ul>